# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Package and install tool files
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDE/editor files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Environment files
.env
.venvrc